body {

    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./src/assets/imagenes/imagen_fondo.png');
    background-size: cover;
    background-attachment: fixed;
}

.contenedor-1 {
    display: grid;
    margin: 10%;
    grid-template-columns: 1fr 1fr;
}

.contenedor-1 img {
    margin: 100px;
}

.utterances {
    margin-left: 50px;

}

.titulo-reglas {
    color: white;
    text-align: start;
}

.titulo-reglas p {
    color: white;
    text-align: center;
    height: 100px;
    text-align: start;
    padding: 20px;
}

@media (max-width: 952px) {

    .contenedor-1 {
       
    }

    .utterances {
       
    }


}